.container5 {
  margin-top:100px;
  display: grid;
  justify-content: center;
  background: #fff;
  font-family: Poppins,sans-serif;
  font-size: 40px;
  grid-gap: 50px;
}



.para5 {
  text-align: center;
  font-size: 24px;
  color: #bcbaba;
  font-family: Poppins,sans-serif;
}

.button4 {
    font-family: Poppins,sans-serif;
    background: #37ae87;
    color: #fff;
    font-size: 32px;
    border-radius: 6px;
}

.button4:hover ,
.button4:focus {
    transition: all 0.3s ease-out;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.email {
   font-family: Poppins,sans-serif;
    background: #fff;
    grid-gap: 8px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 12px;
}

.con-title {
    padding-left: 100px;
    font-family: Poppins,sans-serif;
}


.container6 {
  margin-top:100px;
  display: flex;
  justify-content: center;
  background: #fff;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  grid-gap: 100px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.para6 {
    font-family: Poppins, sans-serif;
  text-align: center;
  font-size: 24px;
  color: #bcbaba;
}

